<form (ngSubmit)="send()">
  <!-- Email input -->
  <div class="form-outline mb-4" align="center">
    <input
      name="login"
      type="text"
      id="form1Example1"
      class="form-control"
      placeholder="Login : "
      [(ngModel)]="login"
      size="25"
    />
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4" align="center">
    <input
      name="password"
      type="password"
      id="form1Example2"
      class="form-control"
      placeholder="Mot de passe :"
      [(ngModel)]="password"
      size="10"
    />
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center"></div>

    <div class="col">
      <!-- Simple link -->
      <a href="#!">Mot de passe oublié?</a>
    </div>
  </div>

  <!-- Submit button -->
  <div class="container">
    <div class="vertical-center">
      <button
        align="center"
        name="btn-connect"
        type="submit"
        class="btn btn-primary btn-block"
      >
        Se connecter
      </button>
    </div>
  </div>
</form>
