<form>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input
      type="text"
      id="form1Example1"
      class="form-control"
      placeholder="Login : "
    />
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input
      type="password"
      id="form1Example2"
      class="form-control"
      placeholder="Mot de passe :"
    />
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center"></div>

    <div class="col">
      <!-- Simple link -->
      <a href="#!">Mot de passe oublié?</a>
    </div>
  </div>

  <!-- Submit button -->
  <button
    name="btn-connect"
    type="submit"
    class="btn btn-primary btn-block"
    [routerLink]="['/home']"
    routerLinkActive="active"
  >
    Se connecter
  </button>
</form>
