<h1>Formulaire d'édition du jeu de societe</h1>
<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="form-group">
    <label>nom</label>
    <input class="form-control" [formControl]="nomCtrl" />
    <div *ngIf="nomCtrl.dirty && nomCtrl.invalid" class="alert alert-danger">
      <span *ngIf="nomCtrl.hasError('required')">nom obligatoire</span>
      <span *ngIf="nomCtrl.hasError('minlength')">minimum 2 caracteres</span>
    </div>
  </div>
  <div class="form-group">
    <label>editeur</label>
    <input class="form-control" [formControl]="editeurCtrl" />
    <div
      *ngIf="editeurCtrl.dirty && editeurCtrl.invalid"
      class="alert alert-danger"
    >
      <span *ngIf="editeurCtrl.hasError('required')">editeur obligatoire</span>
      <span *ngIf="editeurCtrl.hasError('minlength')"
        >minimum 2 caracteres</span
      >
    </div>
  </div>
  <div class="form-group">
    <label>prix</label>
    <input class="form-control" [formControl]="prixCtrl" />
    <div *ngIf="prixCtrl.dirty && prixCtrl.invalid" class="alert alert-danger">
      <span *ngIf="prixCtrl.hasError('required')">prix obligatoire</span>
    </div>
  </div>
  <div class="form-group">
    <label>date de sortie</label>
    <input
      type="date"
      id="datesortie"
      class="form-control"
      [formControl]="ageCtrl"
    />
    <div *ngIf="prixCtrl.dirty && prixCtrl.invalid" class="alert alert-danger">
      <span *ngIf="prixCtrl.hasError('required')">prix obligatoire</span>
    </div>
  </div>
  <div class="form-group">
    <label>age minimum</label>
    <input class="form-control" [formControl]="ageCtrl" />
    <div *ngIf="ageCtrl.dirty && ageCtrl.invalid" class="alert alert-danger">
      <span *ngIf="ageCtrl.hasError('required')">age obligatoire</span>
      <span *ngIf="ageCtrl.hasError('min')">doit être positif ou nul</span>
    </div>
  </div>
  <div class="form-group">
    <label>nombre de joueurs minimum</label>
    <input class="form-control" [formControl]="nbJMinCtrl" />
    <div
      *ngIf="nbJMinCtrl.dirty && nbJMinCtrl.invalid"
      class="alert alert-danger"
    >
      <span *ngIf="nbJMinCtrl.hasError('required')"
        >nombre de joueurs minimum obligatoire</span
      >
      <span *ngIf="nbJMinCtrl.hasError('min')">doit être d'au moins 1</span>
    </div>
  </div>
  <div class="form-group">
    <label>nombre de joueurs maximum</label>
    <input class="form-control" [formControl]="nbJMaxCtrl" />
    <div
      *ngIf="nbJMaxCtrl.dirty && nbJMaxCtrl.invalid"
      class="alert alert-danger"
    >
      <span *ngIf="nbJMaxCtrl.hasError('required')"
        >nombre de joueurs maximum obligatoire</span
      >
      <span *ngIf="nbJMaxCtrl.hasError('min')">doit être d'au moins 1</span>
    </div>
  </div>
  <div class="form-group">
    <label>durée d'une partie</label>
    <input class="form-control" [formControl]="dureeCtrl" />
    <div
      *ngIf="dureeCtrl.dirty && dureeCtrl.invalid"
      class="alert alert-danger"
    >
      <span *ngIf="dureeCtrl.hasError('required')">durée obligatoire</span>
      <span *ngIf="dureeCtrl.hasError('min')">doit être positif</span>
    </div>
  </div>
  <div class="form-group">
    <label
      >Genre.s de jeu : (maintenir la touche 'CTRL' pour selectionner plusieurs
      options)</label
    >
    <select
      name="genre"
      multiple
      size="11"
      class="form-control"
      [formControl]="genreCtrl"
    >
      <option value="0">adresse</option>
      <option value="1">memoire</option>
      <option value="2">connaissance</option>
      <option value="3">lettres</option>
      <option value="4">ambiance</option>
      <option value="5">enquetes</option>
      <option value="6">cooperation</option>
      <option value="7">gestion</option>
      <option value="8">bluff</option>
      <option value="9">reflexion</option>
      <option value="10">deck-building</option>
    </select>
    <div
      *ngIf="genreCtrl.dirty && genreCtrl.invalid"
      class="alert alert-danger"
    >
      <span *ngIf="genreCtrl.hasError('required')"
        >veuillez selectionner au moins un genre</span
      >
    </div>

    <div class="form-group">
      <label
        >Support.s du jeu : (maintenir la touche 'CTRL' pour selectionner
        plusieurs options)</label
      >
      <select
        name="support"
        multiple
        size="4"
        class="form-control"
        [formControl]="supportCtrl"
      >
        <option value="0">cartes</option>
        <option value="1">plateau</option>
        <option value="2">dés</option>
        <option value="3">livre</option>
      </select>
      <div
        *ngIf="supportCtrl.dirty && supportCtrl.invalid"
        class="alert alert-danger"
      >
        <span *ngIf="supportCtrl.hasError('required')"
          >veuillez selectionner au moins un support</span
        >
      </div>
      <div class="form-group">
        <label>description</label>
        <input class="form-control" [formControl]="descriptionCtrl" />
        <div
          *ngIf="descriptionCtrl.dirty && descriptionCtrl.invalid"
          class="alert alert-danger"
        >
          <span *ngIf="descriptionCtrl.hasError('required')"
            >support obligatoire</span
          >
        </div>
      </div>
      <div>
        <button class="btn btn-primary" type="submit">Enregister</button>
      </div>
    </div>
  </div>
</form>
