<h2>Votre Panier :</h2>

<table class="table">
  <thead>
    <tr>
      <th>Produit</th>
      <th>Prix/u</th>
      <th>Quantité</th>
      <th>Prix total</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let p of elemCommande">
      <td>{{ p.nom }}</td>
      <td>{{ p.prix }}</td>
      <td>{{ p.quantite }}</td>
      <td>{{ p.prix * p.quantite }}</td>
      <td>
        <button (click)="delete(p.id)" class="btn btn-outline-danger">
          supprimer
        </button>
      </td>
    </tr>
  </tbody>
</table>

<h4>Moyen de Paiment :</h4>
<form [formGroup]="form">
  <select class="form-control" [formControl]="paiementCtrl">
    <option value="">--Chosir un mode de paiement--</option>
    <option value="0">Visa</option>
    <option value="1">MasterCard</option>
    <option value="2">Paypal</option>
  </select>
</form>
<h4>Mode de livraison :</h4>

<form [formGroup]="form">
  <select class="form-control" [formControl]="livraisonCtrl">
    <option value="">--Chosir un mode de livraison--</option>
    <option value="0">Standard (4.9 €)</option>
    <option value="1">Express (9.9 €)</option>
    <option value="2">1 jour (15.9 €)</option>
    <option value="3">Point relais (2.9 €)</option>
  </select>
</form>
<hr />

<div>
  <h3>Montant total de la commande :€</h3>
</div>

<div>
  <button [routerLink]="['/home']" routerLinkActive="active" (click)="myFunc()">
    Valider votre commande
  </button>

  <button [routerLink]="['/home']" routerLinkActive="active">Annuler</button>
</div>
<hr />
