<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
  crossorigin="anonymous"
/>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">{{ jeuVideo.nom }}</h1>
  </div>
</section>

<div class="container">
  <div class="row">
    <!-- Image -->
    <div class="col-12 col-lg-6">
      <div class="card bg-light mb-3">
        <div class="card-body">
          <a href="" data-toggle="modal" data-target="#productModal">
            <img
              class="img-fluid"
              src="https://www.zupimages.net/up/21/26/4kn7.jpg"
            />
          </a>
        </div>
      </div>
    </div>

    <!-- Add to cart -->
    <div class="col-12 col-lg-6 add_to_cart_block">
      <div class="card bg-light mb-3">
        <div class="card-body">
          <p class="price">{{ jeuVideo.prix | currency: "EUR" }}</p>

          <form method="get" action="cart.html">
            <div class="form-group">
              <label>Quantité :</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button
                    type="button"
                    class="quantity-left-minus btn btn-danger btn-number"
                    data-type="minus"
                    data-field=""
                  >
                    <i class="fa fa-minus"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  id="quantity"
                  name="quantity"
                  min="1"
                  max="100"
                  value="1"
                />
                <div class="input-group-append">
                  <button
                    type="button"
                    class="quantity-right-plus btn btn-success btn-number"
                    data-type="plus"
                    data-field=""
                  >
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
            <a
              href="cart.html"
              class="btn btn-success btn-lg btn-block text-uppercase"
            >
              <i class="fa fa-shopping-cart"></i> Ajouter au panier
            </a>
          </form>
          <div class="product_rassurance">
            <ul class="list-inline">
              <li class="list-inline-item">
                <i class="fa fa-truck fa-2x"></i><br />LIVRAISON RAPIDE
              </li>
              <li class="list-inline-item">
                <i class="fa fa-credit-card fa-2x"></i><br />Paiement sécurisé
              </li>
              <li class="list-inline-item">
                <i class="fa fa-phone fa-2x"></i><br />+33.1.22.54.65.60
              </li>
            </ul>
          </div>

          <div class="reviews_product p-3 mb-2">
            <div>Nombre d'avis : {{ nombreAvis() }}</div>

            <div>
              <td *ngFor="let j of note(noteMoyenne())">
                <span class="fa fa-star"></span>
              </td>
              <td>Note {{ noteMoyenne() }}/5</td>
            </div>

            <div>
              <a [routerLink]="['/editavis']" routerLinkActive="active"
                >Mettre un avis</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Description -->
    <div class="col-12">
      <div class="card border-light mb-3">
        <div class="card-header bg-primary text-white text-uppercase">
          <i class="fa fa-align-justify"></i> FICHE TECHNIQUE
        </div>
        <div class="card-body">
          <ul>
            <li>Description : {{ jeuVideo.description }}</li>
            <li>Age minimum : {{ jeuVideo.ageMin }}</li>
            <li>Editeur : {{ jeuVideo.editeur }}</li>
            <li>Nombre de joueur minimum : {{ jeuVideo.nbJoeursMin }}</li>
            <li>Nombre de joueur maximum :{{ jeuVideo.nbJouersMax }}</li>
            <li>Date de sortie : {{ jeuVideo.dateSortie }}</li>
            <li>Genre : {{ jeuVideo.genre }}</li>
            <li>Support : {{ jeuVideo.support }}</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Reviews -->
    <div class="col-12" id="reviews">
      <div class="card border-light mb-3">
        <div class="card-header bg-primary text-white text-uppercase">
          <i class="fa fa-comment"></i> AVIS
        </div>

        <div class="card-body">
          <!-- boucle des reviews -->
          <div *ngFor="let a of jeuVideo.avis">
            <div class="review">
              <!-- boucle de stars -->
              <td *ngFor="let j of note(a.note)">
                <span class="fa fa-star"></span>
              </td>

              by {{ a.utilisateur.login }}
              <div class="blockquote">
                <p class="mb-0">{{ a.commentaire }}</p>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal image -->
<div
  class="modal fade"
  id="productModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="productModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalLabel">Product title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <img
          class="img-fluid"
          src="https://dummyimage.com/1200x1200/55595c/fff"
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
